name: Build And Deploy Java App

env:
  NEXUS_USERNAME: 'admin'
  NEXUS_PASSWORD: 'nexus123'
  REGISTRY: docker.io
  IMAGE_NAME: ${{ github.repository }}
  SHA: ${{ github.event.pull_request.head.sha || github.event.after }}
  COMPARE_TAG: latest
  DOCKER_USERNAME: 'ashokgani6300'
  DOCKER_PASSWORD: 'AshokGani@6300'
  AZURE_WEBAPP_NAME: 'javawebapp'

on:
  push:
    branches:
      - master
  pull_request:
     types: [opened, synchronize, reopened]

jobs:
  Build:
    runs-on: ubuntu-latest
    environment: production
    permissions: 
      contents: read
      packages: write
      security-events: write  # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
      pull-requests: write
      

    steps:
      - name: Checkout Self
        uses: actions/checkout@v4
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
      - name: Build Package
        run: mvn -B package -f pom.xml
      - name: Synk Install
        run: |
          curl https://static.snyk.io/cli/latest/snyk-linux -o snyk
          chmod +x ./snyk
          mv ./snyk /usr/local/bin/
        continue-on-error: true

      - name: Synk tool Install
        run: |
          synk auth
        env:
           SYNK_TOKEN: ${{secrets.SYNC_TOKEN}}
        continue-on-error: true
      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build and analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=JavaApp -Dsonar.projectName='JavaApp'
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        with:
          args: >-
             -Dsonar.projectKey=NodeWebDeploy
             -Dsonar.java.binaries=.
        env:
           SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
           SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        
      - name: SonarQube Quality Gate check
        id: sonarqube-quality-gate-check
        uses: sonarsource/sonarqube-quality-gate-action@master
        with:
          pollingTimeoutSec: 600
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}  
        continue-on-error: true
      - name: "Example show SonarQube Quality Gate Status value"
        run: echo "The Quality Gate status is ${{ steps.sonarqube-quality-gate-check.outputs.quality-gate-status }}"
        continue-on-error: true
      - name: Maven Settings
        uses: s4u/maven-settings-action@v2.8.0
        with:
          servers: '[{"id": "nexus", "username": "${env.NEXUS_USERNAME}", "password": "${env.NEXUS_PASSWORD}"}]'
      - name: Create settings.xml
        run: |
           mkdir -p ~/.m2
           echo '<settings><servers><server><id>nexus</id><username>${{ secrets.ARTIFACTUSER}}</username><password>${{ secrets.NEXUS_PASSWORD }}</password></server></servers></settings>' > ~/.m2/settings.xml
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name:  Install Docker BuildX
        uses: docker/setup-buildx-action@v3.12.0
        with:
          driver-opts: |
            image=moby/buildkit:v0.10.6
 
      - name: Docker Login
        uses: docker/login-action@v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.DOCKER_USERNAME}}
          password: ${{ env.DOCKER_PASSWORD}}
      - name: Build Image And Push
        run: |
           docker build -t javawebapp:v1 .
           docker images
           docker tag javawebapp:v1 ashokgani6300/javawebapp:v1
           echo ${{ env.DOCKER_PASSWORD }} | docker login -u ${{ env.DOCKER_USERNAME }} --password-stdin docker.io
           docker push ashokgani6300/javawebapp:v1
        env:
          DOCKER_CLI_ACI: 1
      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ashokgani6300/javawebapp
      - name: Build and push new image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - name: Run Docker Scout compare
        uses: docker/scout-action@v1
        with:
           image: ashokgani6300/javawebapp:${{ steps.meta.outputs.version }} # The newly built image
           command: compare
           baseline: environment://production
           only-severity: critical,high
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: JavaWebApp
          path: /home/runner/work/shopping-cart/shopping-cart/target/shopping-cart-0.0.1-SNAPSHOT.war
      - name: Deploy
        run: mvn -s .github/workflow/maven/settings.xml clean deploy
        
  Deploy:
    permissions:
     contents: read
    runs-on: ubuntu-latest
    needs: Build
    environment: 
      name: production
      url:  ${{ steps.deploy-to-webapp.outputs.webapp-url }}
      
    steps:
       - name: Download Artifacts
         uses: actions/download-artifact@v4
         with:
            name: JavaWebApp
       - name: Deploy to Azure Web App
         id: deploy-to-webapp
         uses: azure/webapps-deploy@v3.0.6
         with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: '*.war'
 
     
        
      
    
