name: Build And Deploy Java App

env:
  NEXUS_USERNAME: 'admin'
  NEXUS_PASSWORD: 'nexus123'

on:
  push:
    branches:
      - master
  pull_request:
     types: [opened, synchronize, reopened]

jobs:
  Build:
    runs-on: ubuntu-latest
    environment: production
    permissions: 
      contents: read
      packages: write
      security-events: write  # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
      pull-requests: write
      

    steps:
      - name: Checkout Self
        uses: actions/checkout@v4
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
      - name: Build Package
        run: mvn -B package -f pom.xml
      - name: Synk Install
        run: |
          curl https://static.snyk.io/cli/latest/snyk-linux -o snyk
          chmod +x ./snyk
          mv ./snyk /usr/local/bin/
        continue-on-error: true

      - name: Synk tool Install
        run: |
          synk auth
        env:
           SYNK_TOKEN: ${{secrets.SYNC_TOKEN}}
        continue-on-error: true
      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build and analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=JavaApp -Dsonar.projectName='JavaApp'
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        with:
          args: >-
             -Dsonar.projectKey=NodeWebDeploy
             -Dsonar.java.binaries=.
        env:
           SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
           SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        
      - name: SonarQube Quality Gate check
        id: sonarqube-quality-gate-check
        uses: sonarsource/sonarqube-quality-gate-action@master
        with:
          pollingTimeoutSec: 600
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}  
        
      - name: "Example show SonarQube Quality Gate Status value"
        run: echo "The Quality Gate status is ${{ steps.sonarqube-quality-gate-check.outputs.quality-gate-status }}"
      - name: Maven Settings
        uses: s4u/maven-settings-action@v2.8.0
        with:
          servers: '[{"id": "nexus", "username": "${env.NEXUS_USERNAME}", "password": "${env.NEXUS_PASSWORD}"}]'
      - name: Deploy
        run: mvn deploy -s .m2/settings.xml
 
     
        
      
    
